.logo {
  font-weight: 300;
  padding: 10px;
}

body {
  min-height: 200vh;
}

.parallax {
  position: static;
}

.lightbox {
  background: rgba(96, 124, 161, 0.4);
  padding: 40px;
  border-radius: 10px;
}

.cta {
  text-shadow: 1px 1px black;
}

.thin-text,
.lightbox,
.cta,
.section-header {
  font-weight: 250;
}

.about-text {
  font-size: 2.5vh;
}
