body {
  background: #eee;
  margin: 10%;
}

/* The box-sizing property allows us to include the padding and border in an element's total width and height. 
 * If you set box-sizing: border-box; on an element padding and border are included in the width and height 
 */
* {
  box-sizing: border-box;
}

/**
 * To define a Grid - use display:grid or display:inline-grid on the parent element. 
 * You can then create a grid using the grid-template-columns and grid-template-rows properties. 
 * I am using the grid-gap property to create a gap between my columns and rows of 20px. 
 * This property is a shorthand for grid-column-gap and grid-row-gap so you can set these values individually.
 */

.grid {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; - Defining this way doesn't make it responsive. Hence use fr unit*/
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 200px 100px; */
  /* grid-auto-rows: 100px; */
  grid-gap: 20px;
}

.grid div {
  border: 1px solid rgb(0, 95, 107);
  border-radius: 3px;
  background-color: rgba(0, 95, 107, 0.8);
  padding: 0.2em;
  color: #fff;
  font-size: 170%;
}
